.address-select-container .address-detail-input {
    width: 100%;
}

.address-select-container .btn-wrapper {
    margin-top: 20px;
    text-align: right;
}

.address-save-btn {
    padding: 5px 15px;
    background-color: #d1dae7;
}

.address-cancel-btn {
    padding: 5px 15px;
    background-color: #a4a5a7;
}